 body, html {
	      margin: 0;
	      font-family: Tahoma, Verdana, Geneva, sans-serif;
	      font-size: 16px;
	      /*color: 323131; /*color by default is dark grey, minimize code only add css exceptions when needed*/
      }

@font-face {
    font-family: 'mission_scriptregular';
    src: url('../webfontkit-MissionScript/mission-script-webfont.eot');
    src: url('../webfontkit-MissionScript/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfontkit-MissionScript/mission-script-webfont.woff') format('woff'),
         url('../webfontkit-MissionScript/mission-script-webfont.ttf') format('truetype'),
         url('../webfontkit-MissionScript/mission-script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
	font-family: 'mission_scriptregular';
	font-size: 4em;
	color: #00bbc2;
	text-align: center;
	}
#title{
	color: #f0ad4e;
}
#subhead{
	font-size: .8em;
	font-style: italic;	
	text-align: center;
	display: block;
}

/*.onclick{
	display: inline;
}*/
healthstatus{
	width: 1.25em;
	height: 1.25em;
}
img{
	width: 2em;
	height: 2em;
}

p{
display: inline;
}


ul{
	list-style-type: none;
}

li{
	display: block;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
	border-bottom: 1px solid silver;
	border-radius: 4px;
}
